@model BankApp.ViewModels.LoginModel
    <div class="ui form">
    <div class="field">
        <label>Name</label>
        <div class="two fields">
            <div class="field">
                <input type="text" asp-for="Username" placeholder="Username">
            </div>
            <div class="field">
                <input type="text" asp-for="Password" placeholder="Password">
            </div>
        </div>
    </div>
</div>

