<div id="identityForm" class="ui form">
    <div class="field">
        <div class="field">
            <a asp-action="RemoveLogin" asp-controller="Admin" data-ajax="true" data-ajax-update="#identityForm" asp-route-customerId="@ViewBag.CustomerId" class="ui fluid negative button">Remove Login</a>
        </div>
    </div>
</div>
